.inheritWidth{
    width: inherit;
}
#chartHolder{
    padding-left: 25px;
}
#chartHolder button{
    padding-left: 25px;
}
#selectionDiv{
    padding-left: 25%;
}
#careNetworkSection{
    padding-bottom: 40px;
}