.inheritWidth {
    width: inherit;
}

#chartHolder {
    padding-left: 25px;
    height: 600px;
    overflow: scroll;
}

#selectionDiv1 {
    padding-left: 25%;
}

#selectionDiv2 {
    padding-left: 25%;
}

#selectionDiv3 {
    padding-left: 25%;
}

#careNetworkSection {
    padding-bottom: 40px;
}

.chartNavButton {
    margin-left: 25px;
}

.headerSize {
    height: 20px;
}

img.logo {
    height: 45px;
}

ul.noDot{
    
    list-style-type: none;
    padding-left: 10px;
    
}